<app-header></app-header>
<div class="max-w-screen-xl mx-auto flex gap-4 sm:gap-10">
  <div class="w-2/3">
    <h1 class="text-4xl font-bold pb-6">Review and confirm</h1>
    <div class="">
      <h2 class="text-2xl font-semibold mb-4">Payment Information</h2>
      <div class="text-justify px-4">
        <div class="">
          <p>
            We are excited to share some news with you about our payment
            options. Your satisfaction and convenience are our top priorities,
            and we are pleased to inform you that we now accept a variety of
            payment methods for your salon visits and services. You can make
            payments using the following major credit card brands:
          </p>
        </div>

        <div class=" py-2">
          <div class=" mx-auto w-1/3">
            <li>Visa</li>
            <li>MasterCard</li>
            <li>American Express</li>
            <li>JCB</li>
          </div>
        </div>

        <div class="">
          <p>
            This expanded range of payment options ensures that you can pay for
            your salon services with ease and flexibility, whether you're
            booking an appointment, enjoying our treatments, or purchasing
            products. We are here to make your salon experience exceptional, and
            this enhancement is just one of the many ways we aim to serve you
            better. If you have any questions or need assistance with any aspect
            of your visit, our team is always ready to assist you. Thank you for
            choosing [Your Salon Name] for your beauty and wellness needs. We
            look forward to continuing to provide you with the high-quality
            services you deserve. Warm regards, [Your Salon Name] Feel free to
            customize this message with your salon's specific information and
            branding.
          </p>
        </div>
      </div>
      <div class="text-justify">
        <h1 class="text-2xl font-semibold mt-4 ">Cancellation policy</h1>
        <p class="px-4">
          Cancel for free up to 6 hours ahead, otherwise you will be charged 80%
          of the service price for late cancellation or 100% for not showing up.
        </p>
        <h1 class="text-2xl font-semibold mt-4">Important info</h1>
        <p class="px-4 mb-20">
          PLEASE NOTE: 9am appointments should be booked 12 hrs in advance. We
          reserve the right to cancel 9am appointments if it has been booked
          less than 12 hrs in advance. First time appointments: Please arrive at
          least 5 minutes before your appointment start time to complete
          consultation form. To save time you can also complete your form online
          before visit. If you arrive late , please note that your session might
          get shortened to accommodate other appointments. If you have GIFT
          VOUCHER please type voucher code in booking notes. Cancellations
          /reschedule Please cancel/reschedule your booking online . Our
          cancellation policy : 6 hrs before - free less than 6 hrs - 80% fee no
          show - 100% fee
        </p>
      </div>
    </div>
  </div>
  <div class="w-1/3">
    <app-selected-services></app-selected-services>
    <div class="mx-auto mt-2">
      <button
        class="bg-slate-950 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        type="button"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
