      <h1 class="font-bold text-3xl py-4">Select Time and date</h1>

      <div class="flex flex-col md:flex-row  md:space-x-2">
        
        <div class=" flex-auto overflow-hidden">
          
          <label for="date" class="font-bold">Select date</label>
          <input
            type="date"
            id="date"
            class="block p-2 rounded-lg bg-slate-200 hover:bg-slate-300 w-full h-12"
          />
        </div>
        <div class="flex-auto overflow-hidden">
          <label for="time" class="font-bold">Select time</label>
          <input
            type="time"
            placeholder="Time"
            class="block p-2 rounded-lg bg-slate-200 hover:bg-slate-300 w-full h-12"
          />
        </div>
      </div>