<h1 class="font-bold text-3xl py-4">Fresha for Business</h1>
<div class="flex space-x-4">
  <!-- Sidebar (Left Column) -->
  <div class="w-1/5 h-screen p-4 bg-blue-200">
    <div class="bg-green-300 py-8">
        <h2 class="text-2xl">Shop Name</h2>
        <h2 class="text-xl mb-4">Address</h2>
    </div>
    
    <ul>
      <li><a href="/resource-planning">Home</a></li>
      <li><a href="/resource-planning">Resource Planning</a></li>
      <li><a href="/resource-planning">Logout</a></li>
    </ul>
  </div>

  <!-- Employee Bookings (Right Column) -->
  <div class="w-3/4 flex flex-wrap">
    <!-- Existing card for the first employee -->
    <div class="w-1/3 h-1/3 p-6 bg-red-200 rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200">
      <!-- Content for the first employee -->
      <div class=" bg-yellow-300 rounded-xl flex-col space-y-2 justify-center">
        <div class="">
          <img
            class="h-20 w-20 mx-auto rounded-full bg-black"
            src=""
            alt="Player Image"
          />
        </div>

        <div class="mx-auto">
          <h1 class="text-xl font-medium text-black">Mamber any</h1>
          <p class="text-gray-500">Maximum available members</p>
        </div>
        <!-- <button  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Select</button> -->
      </div>
    </div>

    <!-- Card for the second employee -->
    <div
      class="w-1/3 h-1/3 p-6 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    >
      <!-- Content for the second employee -->
    </div>

    <!-- Card for the third employee -->
    <div
      class="w-1/3 h-1/3 p-6 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    >
      <!-- Content for the third employee -->
    </div>

    <!-- Card for the fourth employee -->
    <div
      class="w-1/3 h-2/3 p-6 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    >
      <!-- Content for the fourth employee -->
    </div>

    <!-- Card for the fifth employee -->
    <div
      class="w-1/3 h-2/3 p-6 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    >
      <!-- Content for the fifth employee -->
    </div>

    <!-- Card for the sixth employee -->
    <div
      class="w-1/3 h-2/3 p-6 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    >
      <!-- Content for the sixth employee -->
    </div>
  </div>
</div>
