<div routerLink="/select"  class="border  border-slate-400 rounded-lg overflow-hidden mb-4 w-80 h-80 hover:opacity-90">
  <img src="../../../assets/shop.jpg" alt="Product Image" class="w-full h-48 mx-auto mb-4">
  <div class="px-4">
    <h2 class="text-lg font-bold">Shop Name</h2>
    <p class="text-gray-600 text-sm font-semibold mb-2">4.5 ★ (125 reviews)</p>
    <p class="text-gray-600 text-sm mb-2">123 Main St, City, Country</p>
    <p class="text-gray-600 text-sm border rounded border-slate-400 w-fit px-1">Hair Salon</p>
  </div>
</div>
