

<div class=" bg-white rounded-lg border border-gray-300 p-4">
  <div class="mb-4">
    <div class="flex items-center mb-4">
      <img
        [src]="selections.shopDetails.images?.[0]"
        alt="No images"
        class="w-16 h-16 mr-4 rounded-lg"
      />
      <div>
        <p class="font-bold">{{selections.shopDetails.shop_name}}</p>
        <p>{{selections.shopDetails.ratings}} ★★★★★★ (3 reviews)</p>
        <p>{{selections.shopDetails.address}}</p>
      </div>
    </div>
  </div>
  <h1 class="font-bold text-xl">Overview</h1>
  <ul>
    <li >
      <div *ngFor="let service of ServiceInfo"  class="mb-2 py-1 flex justify-between">
        <div class="flex items-center">
        <p>{{ service.service_name }}</p>
      </div>
      <div class="flex items-center">
        <p class="text-right">$ {{service.price}}</p>
      </div>
      </div>
    </li>
    <!-- <li *ngFor="let item of cartItems" class="mb-2 py-1 flex justify-between">
      <div class="flex items-center">
        <p>{{ item.name }}</p>
      </div>
      <div class="flex items-center">
        <p class="text-right">$ {{ item.price }}</p>
      </div>
    </li> -->
  </ul>
  <hr class="my-4 border-gray-400" />
  <div class="flex justify-between mt-4">
    <p class="font-semibold">Total:</p>
    <p class="font-semibold">$ {{ totalPrice }}</p>
  </div>

  <div class="py-4">
    <h1 class="font-bold text-xl mb-4">Appointment</h1>
    <h1 class="font-semibold text-xl">{{teamName}}</h1>
    
    <p>{{formattedDate}}</p>
    <p>{{dateTime?.time}}</p>
  </div>

  
</div>
