<!-- <div class="max-w-xl mx-auto bg-white rounded-lg border border-gray-300 p-4">
  <div class="mb-4">

    <div class="flex items-center mb-4">
      <img src="../../../assets/shop-3.jpeg" alt="Shop Image" class="w-16 h-16 mr-4 rounded-lg">
      <div>
        <p class="font-bold">Shop Name: Example Shop</p>
        <p >4.5 ★★★★★★ (125 reviews)</p>
        <p>Shop Address: 123 Main Street, City, Country</p>
      </div>
    </div>
  </div>
  <h1 class="font-bold text-xl">Overview</h1>
  <ul>
    <li *ngFor="let item of cartItems" class="mb-2 py-1">
      {{ item.name }} - ${{ item.price }}
    </li>
  </ul>
  <p class="font-semibold">Total: ${{ calculateTotal() }}</p>
</div> -->

<div class=" bg-white rounded-lg border border-gray-300 p-4">
  <div class="mb-4">
    <div class="flex items-center mb-4">
      <img
        src="../../../assets/shop-2.jpeg"
        alt="Shop Image"
        class="w-16 h-16 mr-4 rounded-lg"
      />
      <div>
        <p class="font-bold">Shop Name: Example Shop</p>
        <p>4.5 ★★★★★★ (125 reviews)</p>
        <p>Shop Address: 123 Main Street, City, Country</p>
      </div>
    </div>
  </div>
  <h1 class="font-bold text-xl">Overview</h1>
  <ul>
    <li *ngFor="let item of cartItems" class="mb-2 py-1 flex justify-between">
      <div class="flex items-center">
        <p>{{ item.name }}</p>
      </div>
      <div class="flex items-center">
        <p class="text-right">$ {{ item.price }}</p>
      </div>
    </li>
  </ul>
  <hr class="my-4 border-gray-400" />
  <div class="flex justify-between mt-4">
    <p class="font-semibold">Total:</p>
    <p class="font-semibold">$ {{ calculateTotal() }}</p>
  </div>

  <div class="">
    <h1 class="font-bold text-xl">Appointment</h1>
    <p>Thursday 26 October</p>
    <p>10:30-10:35am</p>
  </div>

  <div class="mx-auto">
    <button
      class="bg-slate-950 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
      type="button"
    >
      Continue
    </button>
  </div>
</div>
