<h1 class="font-bold text-3xl py-4">Select team member</h1>
<div class="flex space-x-4">
  <div
    class="p-6 w-1/3 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    (click)="selectMember(-1)"
  >
    <div class="">
      <img
        class="h-20 w-20 mx-auto rounded-full bg-black"
        src=""
        alt="Player Image"
      />
    </div>

    <div class="mx-auto">
      <h1 class="text-xl font-medium text-black">Mamber any</h1>
      <p class="text-gray-500">Maximum available members</p>
    </div>
    <!-- <button  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Select</button> -->
  </div>

  <div
    class="p-6 w-1/3 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    (click)="selectMember(0)"
  >
    <div class="relative flex flex-col items-center">
      <img class="h-20 w-20 rounded-full bg-black" src="" alt="Player Image" />
      <p
        class="bg-white mx-auto border border-slate-700 rounded-full w-fit px-2 absolute bottom-0"
      >
        5.0 ★
      </p>
    </div>

    <div class="mx-auto">
      <h1 class="text-xl font-medium text-black">{{teamMembers[0]}}</h1>
      <p class="text-gray-500">Owner / Head Barberr</p>
    </div>
    <!-- <button  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Select</button> -->
  </div>

  <div
    class="p-6 w-1/3 bg-white rounded-xl flex-col space-y-2 justify-center text-center border hover:bg-slate-200"
    (click)="selectMember(1)"
  >
    <div class="relative flex flex-col items-center">
      <img class="h-20 w-20 rounded-full bg-black" src="" alt="Player Image" />
      <p
        class="bg-white mx-auto border border-slate-700 rounded-full w-fit px-2 absolute bottom-0"
      >
        4.5 ★
      </p>
    </div>

    <div class="mx-auto">
      <h1 class="text-xl font-medium text-black">{{teamMembers[1]}}</h1>
      <p class="text-gray-500">Head Barber</p>
    </div>
    <!-- <button  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Select</button> -->
  </div>
</div>
