<div class="max-w-screen-xl mx-auto">
  <div class="">
    <div class=""><app-header></app-header></div>

    <div class="mainbody">
      <div class="ttl">
        <h1 class="font-bold text-4xl py-4">Divine - Beauty from Within</h1>
        <ul class="list-disc ml-10 sm:flex sm:space-x-14">
          <li>4.5★★★★★(125)</li>
          <li>Open until 18:00</li>
          <li>Northwood Hills, Northwood</li>
          <li>Get directions</li>
        </ul>
      </div>

      <div class="images mx-auto w-auto">
        <div
          class="grid grid-rows-2 grid-cols-3 gap-4 overflow-hidden h-1/2 screen py-2"
        >
          <div class="row-span-2 col-span-2 rounded-lg">
            <img
              src="../../../assets/shop.jpg"
              alt="Image 1"
              class="rounded-lg h-full w-full"
            />
          </div>

          <div class="row-span-1 col-span-1 rounded-lg">
            <img
              src="../../../assets/shop-2.jpeg"
              alt="Image 2"
              class="rounded-lg h-full w-full"
            />
          </div>

          <div class="col-span-1 row-span-1">
            <img
              src="../../../assets/shop-3.jpeg"
              alt="Image 3"
              class="rounded-lg h-full w-full"
            />
          </div>
        </div>
      </div>
      <!-- service -->
      <div class="serviceAndBook flex">
        <div class="w-2/3 p-2 overflow-hidden">
          <!-- <app-all-services></app-all-services> -->
          <h1 class="font-bold font text-4xl py-4">About</h1>
          <div class="flex items-center mb-4">
            <img
              src="../../../assets/shop-2.jpeg"
              alt="Shop Image"
              class="w-16 h-16 mr-4 rounded-lg"
            />
            <div>
              <p class="font-bold">Shop Name: Example Shop</p>
              <p>4.5 ★★★★★★ (125 reviews)</p>
              <p>Shop Address: 123 Main Street, City, Country</p>
            </div>
          </div>
          <div class="about mb-6">
            <p class="text-justify">
              Decadence Hair & Beauty is an exclusive boutique salon in the
              heart of Bloomsbury providing a warm, welcoming and pampering
              retreat from the noise of the city. We have the most experienced
              and friendly team of hairstylists, colourists, beauty therapists
              and front of house staff who are proud to bring you our
              personalised five-star service. You will feel fabulous from the
              moment you walk through the door.
            </p>
          </div>
          <div class="h-64 w-full"><app-map></app-map></div>
        </div>
        <div class="w-1/3 p-2">
          <h1 class="font-bold font text-4xl py-4">All services</h1>
          <!-- all services -->
          <div class="sm:flex-col md:flex-row justify-around">
            <div
              class="mb-4 bg-white hover:bg-slate-200 rounded-lg border border-slate-300 hover:border-slate-700 py-2 px-4"
            >
              <div class="flex justify-around items-center mb-4">
                <div class="">
                  <h2 class="text-xl font-semibold">Service 1</h2>
                  <p class="">🕓 1 hr</p>
                </div>
                 <p class="font-bold text-2xl">$50</p>
              </div>
            </div>
            <div
              class="mb-4 bg-white hover:bg-slate-200 rounded-lg border border-slate-300 hover:border-slate-700 py-2 px-4"
            >
              <div class="flex justify-around items-center mb-4">
                <div class="">
                  <h2 class="text-xl font-semibold">Service 1</h2>
                  <p class="">🕓1 Hour</p>
                </div>
                 <p class="font-bold text-2xl">$50</p>
              </div>
            </div>
          </div>

          <div class="mx-auto">
            <button
              class="bg-slate-950 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
              type="button"
            >
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- =====================reviews=============== -->
    <div>
      <h1 class="font-bold font text-3xl py-4">Reviews</h1>
      <app-review-carts></app-review-carts>
    </div>
    <!-- <div class="h-fit w-fit"><app-map></app-map></div> -->
    <app-recommended></app-recommended>
  </div>
  <app-footer></app-footer>
</div>
