<div class="bg-gradient-to-r from-indigo-200 via-purple-100 to-pink-200">
  <div class="">
    <app-header></app-header>
    <!-- ================Body================ -->
    <div class="max-w-screen-xl mx-auto">
      <div class="flex flex-col justify-center text-center max-w-5xl m-auto">
        <h1
          class="font-bold text-5xl text-start md:text-7xl lg:text-7xl xl:text-7xl mb-20 mt-10"
        >
          Book local beauty and wellness services
        </h1>
        <div class=""><app-search></app-search></div>
      </div>

      <!-- ================Footer================ -->
      <h3 class="text-center text-2xl font-semibold p-8 mb-14">
        <span class="font-bold text-3xl">76,694</span> appointments booked today
      </h3>
      <app-recommended></app-recommended>
      <div class="mx-auto text-center py-8 w-fit">
        <h1 class="font-bold text-4xl">
          The top-rated destination for beauty and wellness
        </h1>
        <p>
          One solution, one software. Trusted by the best in the beauty and
          wellness industry
        </p>
        <h1 class="font-bold text-7xl pt-8">700 million+</h1>
        <p>Appointments booked on Fresha</p>
        <div class="flex  justify-around p-8">
          <div class="">
            <h1 class="font-bold text-2xl">120+ countries</h1>
            <p>using Fresha</p>
          </div>
          <div class="">
            <h1 class="font-bold text-2xl">100,000+</h1>
            <p>partner business</p>
          </div>
          <div class="">
            <h1 class="font-bold text-2xl">450,000+</h1>
            <p>stylists and professionals</p>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>