<h1 class="font-bold text-3xl py-4">Recommended{{currentIndex}}</h1>
<!-- 
<div class="overflow-x-auto  max-w-screen-full mx-auto scroll-auto">
  <div class="flex gap-4">
    <app-shop-cart [shopCart]="item" *ngFor="let item of data"></app-shop-cart>
  </div>
</div> -->

<div class="relative w-full h-full">
  <div class= "">
    <div (click)="goToPrevious()" class="absolute bg-yellow-500  p-4 top-1/2 z-20 transform -translate-y-1/2 left-8 text-white text-3xl ">❰</div>
    <div (click)="goToNext()" class="absolute bg-yellow-500 p-4 top-1/2 z-20 transform -translate-y-1/2 right-8 text-white text-3xl ">❱</div>
  </div>
  <div class="overflow-x-auto max-w-screen-full mx-auto scroll-auto">
    <div class="flex gap-4 overflow-hidden">
      <app-shop-cart [shopCart]="data[currentIndex+0]"></app-shop-cart>
      <app-shop-cart [shopCart]="data[currentIndex+1]"></app-shop-cart>
      <app-shop-cart [shopCart]="data[currentIndex+2]"></app-shop-cart>
      <app-shop-cart [shopCart]="data[currentIndex+3]"></app-shop-cart>
    </div>
  </div>
  <div class="dotsContainer"></div>
</div>

<!-- 

<div class="slider">
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <app-shop-cart [shopCart]="getCurrentSlideUrl()"></app-shop-cart>
  <div class="dotsContainer"></div>
</div> -->
